<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des instructeurs</title>
</head>
<body>
	<div th:if="${msgSuccessEdit}">
		<p th:text="${msgSuccessEdit}"></p>
	</div>
	<div th:if="${errorId}">
		<p th:text="${errorId}"></p>
	</div>

	<div>
		<div th:each="instructor: ${instructors}">
			<h3 th:text="${instructor.firstName}"></h3>
			<h3 th:text="${instructor.lastName}"></h3>
			<h3 th:text="${instructor.email}"></h3>
			<h3 th:text="${instructor.hobby}"></h3>
			<h3 th:text="${instructor.chanel}"></h3>
			<p>
				<a th:href="@{/instructor/delete/{id}(id=${instructor.id})}">Supprimer</a>
			</p>
			<hr>
		</div>

	</div>
</body>
</html>