<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des cours</title>
</head>
<body>
<div th:if="${msgSuccessEdit}">
		<p th:text="${msgSuccessEdit}"></p>
	</div>
	<div th:if="${errorId}">
		<p th:text="${errorId}"></p>
	</div>

	<div>
		<div th:each="element: ${courses}">
			<h3 th:text="${element.title}"></h3>
			<h3 th:text="${element.instructor.firstName}"></h3>			
			<h3>Commentaire</h3>			
			<h3 th:text="${element.comment}"></h3>			
			<p>
				<a th:href="@{/course/delete/{id}(id=${element.id})}">Supprimer</a>
			</p>
			<hr>
		</div>

	</div>
</body>
</html>