<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Créer un cours</title>
</head>
<body>

	<form th:action="@{/course/save}" th:object="${course}"
		method="post">

		<div class="form-group mb-3">
			<label class="form-label">Titre du cours</label> <input
				class="form-control" id="title" name="title"
				placeholder="Entrer le titre" th:field="*{title}" type="text" />
			<p th:errors="*{title}" class="text-danger"
				th:if="${#fields.hasErrors('title')}"></p>
		</div>
		<div class="form-group mb-3">
			<label class="form-label">Liste des instructeurs</label> 
			<select
				id="instructor" name="instructor" th:field="*{instructor}">
				<option th:each="instructorElt: ${instructorList}" th:value="${instructorElt.id}" th:text="${instructorElt.lastName}"></option>				
			</select>
			<p th:errors="*{instructor}" class="text-danger"
				th:if="${#fields.hasErrors('instructor')}"></p>
		</div>
		<div class="form-group mb-3">
			<label class="form-label">Informations sur le cours</label> <input
				class="form-control" id="comment" name="comment"
				placeholder="Entrer le commentaire" th:field="*{comment}" type="text" />
			<p th:errors="*{comment}" class="text-danger"
				th:if="${#fields.hasErrors('comment')}"></p>
		</div>
		

		<div class="form-group">
			<button class="btn btn-primary" type="submit">Valider</button>
		</div>
	</form>

</body>
</html>