<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulaire ajout de cours</title>
</head>
<body>
<form th:action="@{/choice/save}" th:object="${form}"
		method="post">

		<div class="form-group mb-3">
			<label class="form-label">Liste des cours</label> 
			<select
				id="course" name="course" th:field="*{course}">
				<option th:each="course: ${courses}" th:value="${course.id}" th:text="${course.title}"></option>				
			</select>
			<p th:errors="*{course}" class="text-danger"
				th:if="${#fields.hasErrors('course')}"></p>
		</div>
		<div class="form-group mb-3">
			<label class="form-label">Liste des étudiants</label> 
			<select
				id="student" name="student" th:field="*{student}">
				<option th:each="student: ${students}" th:value="${student.id}" th:text="${student.lastName}"></option>				
			</select>
			<p th:errors="*{student}" class="text-danger"
				th:if="${#fields.hasErrors('student')}"></p>
		</div>				

		<div class="form-group">
			<button class="btn btn-primary" type="submit">Valider</button>
		</div>
	</form>
</body>
</html>