<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des étudiants</title>
</head>
<body>
	<h1>Liste des étudiants</h1>
	<div th:if="${errorId}">
		<p th:text="${errorId}"></p>
	</div>
	<div th:if="${msgSuccessEdit}">
		<p th:text="${msgSuccessEdit}"></p>
	</div>


	<div>
		<div th:each="student: ${students}">
			<h3 th:text="${student.firstName}"></h3>
			<h3 th:text="${student.lastName}"></h3>
			<h3 th:text="${student.email}"></h3>
			<p><a th:href="@{/edit/{id}(id=${student.id})}">Modifier</a>
				<a th:href="@{/delete/{id}(id=${student.id})}">Supprimer</a>
			</p>
			<hr>
		</div>

	</div>
</body>
</html>