<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home page</title>
</head>
<body>
	<h1>Test</h1>
	<p><a th:href="@{/create-student}">Cliquer pour voir le formulaire</a></p>
</body>
</html>